.vscode/**
src/**
claude-code/**
claude-code-settings.schema.json
webview/**
node_modules/**
.gitignore
tsconfig.json
webpack.config.js
**/*.ts
**/*.map
resources/AcceptMode.jpg
resources/ClawdWithGradCap.png
resources/HighlightText.jpg
resources/PlanMode.jpg
resources/claude-code/**
resources/walkthrough/**
resources/welcome-art-dark.svg
resources/welcome-art-light.svg
resources/clawd.svg
